*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
.view {
    padding: 20px;
    display: flex;
    height: 100vh;
}

.sidebar-frame {
    width: 25%;
    min-width: 90px;
    border: none;
}

.content-frame {
    flex-grow: 1;
    border: none;
}
