*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
.view {
    padding: 20px;
    display: flex;
    height: 100vh;
}

.sidebar-frame {
    width: 250px;
    border: none;
}

.content-frame {
    flex-grow: 1;
    border: none;
}
@media (max-width: 768px) {
    .view {
        flex-direction: column;
    }

    .sidebar-frame {
        width: 100%;
        height: auto;
        padding: 20px 0;
    }

    .content-frame {
        width: 100%;
        flex-grow: 1;
    }
}