html, body {
    height: 100%;
    margin: 0;
}

body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
}

main {
    flex: 1;
}
.whatsapp-btn{
    background-color: green;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    border-color: green;
            
 }
.whatsapp-btn:hover{
     color:blue;
}
.project-btn{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
}
.project-btn:hover{
    background-color: green;
}